body{ 
    background-image: url("C:/workspace//livro-receitas/receitas/Assets/Backgrounds/BananadaGratinadaBack.jpg");
    background-size: 80%;
    font-family: 'Concert One', cursive;
}

a{
    text-decoration: none;
    color:whitesmoke;
    font-family: 'Concert One', cursive;  
}
button{
    border: none;
    border-radius: 3px;
    background-color: #be5b59;
}

#titulo{
    margin-left: 15%;
}
.lista{
    margin-left: 15%;
    padding-left: 50px ;
    padding-right: 80px ;
}
p{
    margin-left: 15%;
}