/* Global ==================================*/
:root{
    --color-main:#DBB20C ;
}

*{
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
    font-size: 18pt;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-main);
    background-image: url("../Assets/Backgrounds/AmareloSuave.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 24pt;
    
}

/* Dropdown ==================================== */
.menu{
    width: 100%;
    height: 60px;
    background-color: var(--color-main);
    position: relative;
}

.menu ul{
    list-style: none;
    margin-left: 50%;
    position: relative;
    transform: translateX(-45%);
}

.menu ul li{
    width:150px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-align: center;
    background-color:var(--color-main);
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
    margin-left: 0;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #E67E22;
    color:whitesmoke;
}

.menu ul ul li{
    float:none;
    transform: translateX(45%);
}
/* Search Button ==========================*/
#busca{
    position:absolute;
    right:0;
    top: 35%;
    border: solid 2px #000000;
    border-radius: 10px;
    height: 60px;
    margin-right: 3%;
    width: 290px;
}

#txtBusca{
    border: none;
    border-radius: 7px 0 0 7px;
    float: left;
    font-size: 18pt;
    height: 56px;
    outline: none;
    width: 230px;
}

#btnBusca{
    background: var(--color-main);
    border: none;
    border-radius: 0 7px 7px 0;
    float: right;
    font-weight: bold;
    height: 56px;
    outline: none;
    position: relative;
}

#btnBusca img{
    width: 55px;
    padding: 2px;
}

#btnBusca:hover{
    cursor: pointer;
    background-color: #E67E22
    
}

#btnBusca img:hover{
    filter: invert(100%) sepia(3%) saturate(677%) hue-rotate(228deg) brightness(115%) contrast(92%);
}

/* Content =================*/
#main{
    
    margin-top: 9%;
}
.titulo{
    position: relative;
}

.fontTitulo{
    text-align: center;
    font-size: 30pt;
}

#conteudo{
    margin-top: 5%;
    margin-left: 2%;
}


