*{    

    font-family: 'Concert One', cursive;
    font-size: 18pt;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../Assets/Backgrounds/aboutBackground.jpg");
    background-size: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.menu{
    width: 100%;
    height: 60px;
    background-color: #DBB20C;
}

.menu ul{
    list-style: none;
    margin-left: 580px;
    position: relative;
}

.menu ul li{
    width:150px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    align-items: center;
    background-color:#DBB20C;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
    margin-left: 0;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #E67E22;
    color:whitesmoke;
}

.menu ul ul li{
    float:none;
}
main{
    display:block; 
    text-align: center;
}
main img{
    margin-left: 10px;
    margin-top: 100px;
    width: 350px;
    border-radius: 50%;   
}

main p{
    font-size: 24pt;
    width: 60%;
    margin-left: 360px
}

.about{
    text-align: center;
}

.about h1{
    font-size: 24pt;
    margin-top: 30px;
}

.about button{
    
    border: none;
    outline: none;
    background-size: 25%;
    background: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.about img{
    /* width: 190px; */
    border-radius: 50%;
}


.about button:hover ,h4:hover , footer a:hover {
    color:whitesmoke;
    background-color: #E67E22;
    cursor: pointer;
}

footer{
    text-align: center;
    background-color: #f39d1252;  
    margin-top: 5px;
    margin-bottom: 8px; 
}